.repeatedEmail {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: end;
  letter-spacing: 0.04em;
  color: #e84a5f;
  cursor: pointer;
  transition: 0.1s linear;
}
.repeatedEmail:hover,
.repeatedEmail:focus {
  transform: scale(1.1);
}
