.subscribeModalWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.changeSubscribeForm {
  width: 450px;
  height: 450px;
  position: relative;

  background: linear-gradient(rgba(150, 154, 187, 0.9), rgba(47, 48, 58, 0.7)),
    url('images/subscribe-wallpapers.jpg') no-repeat center center fixed;
  background-size: 450px;
}
