.title {
  position: absolute;
  bottom: 1%;
  left: 35%;
}
.link {
  text-decoration: none;
  color: #3f51b5;
}
.link:hover,
.link:focus {
  color: #e84a5f;
}
@media screen and (min-width: 768px) {
  .title {
    left: 45%;
  }
}
