.form {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  cursor: pointer;
  width: 231px;
  border: none;
  color: white;
  padding: 5px 55px;
  text-decoration: none;
  background-color: #3f51b5;
  font-size: 22px;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.button:hover,
:focus {
  color: #3f51b5;
  background-color: white;
}
