.LoginSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30vh;
  color: #3f51b5;
}
.LoginFormControl {
  width: 300px;
}

@media screen and (min-width: 768px) {
  .LoginSection {
    align-items: flex-start;
    margin-left: 15vw;
    width: 300px;
  }
  .LoginTitle {
    margin-left: auto;
    margin-right: auto;
  }
}
