.container {
  display: flex;
  align-items: center;
  color: #e84a5f;
}
.avatar {
  margin-right: 4;
  width: 37px;
  border-radius: 50%;
  cursor: pointer;
}
.name {
  font-size: 12px;
  font-weight: 700;
  margin-right: 12px;
  margin-left: 12px;
  cursor: pointer;
}
.button {
  height: 30px;
}

.buttonTuneOutlinedIcon {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.buttonTuneOutlinedIcon:focus {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
  }
  .avatar {
    width: 57px;
  }
  .button {
    margin-left: 12px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .name {
    font-size: 23px;
  }
}
